* {
  box-sizing: border-box;
}

body {
  font-family: serif;
  margin: 0;
  background-color: rgb(124, 124, 124);
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.25em;
}

ul {
  list-style: none;
}

.animate__animated {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

/*Partials*/
header {
  background-color: black;
}
header .conteiner {
  max-width: 1600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .logo {
  margin: 0;
  padding: 25px;
  font-weight: bold;
  color: white;
  font-size: 1.4em;
}
header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}
header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}
header a:hover {
  color: grey;
}

@media screen and (min-width: 800px) {
  header {
    position: fixed;
    bottom: calc(100vh - 87.6px);
    margin: 0;
    width: 100%;
    z-index: 100;
  }
  header .conteiner {
    flex-direction: row;
    justify-content: space-evenly;
  }
  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-left: 20px;
  }
  header .logo {
    font-size: 2em;
    margin-right: 80px;
  }
}
footer {
  width: 100%;
  height: 15vh;
  background-color: black;
  margin-top: auto;
}
footer .conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
footer #img__footer {
  display: flex;
  justify-content: center;
}
footer #footer__uno {
  margin-right: 20px;
}
footer #footer__dos {
  margin-left: 20px;
}

/*Inicio*/
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/fondos/restaurante.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 40em;
}
#hero h1 {
  color: rgb(207, 234, 239);
  font-family: cursive;
  margin-bottom: 40px;
}
#hero li {
  display: flex;
  align-items: baseline;
  font-size: 1.5em;
  color: rgb(219, 219, 219);
}
#hero #li {
  translate: 1px -30px;
}

#nuestras__promociones {
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
}
#nuestras__promociones h2 {
  color: rgb(102, 113, 113);
  margin-top: 10px;
  font-size: 3em;
}
#nuestras__promociones .carta__uno {
  background-color: rgb(181, 181, 181);
  margin: 30px;
  border-radius: 10px;
  box-shadow: black 0px 0px 20px 3px;
  padding-top: 5px;
  padding-bottom: 8px;
}
#nuestras__promociones .carta__dos {
  background-color: rgb(181, 181, 181);
  margin: 30px;
  border-radius: 10px;
  box-shadow: black 0px 0px 20px 3px;
  padding-top: 5px;
  padding-bottom: 8px;
}
#nuestras__promociones .carta__tres {
  background-color: rgb(181, 181, 181);
  margin: 30px;
  border-radius: 10px;
  box-shadow: black 0px 0px 15px 3px;
  padding-top: 5px;
  padding-bottom: 8px;
}

@media screen and (min-width: 800px) {
  #hero {
    font-size: 1.2em;
  }
}
/*Menu*/
article #menu {
  display: flex;
  flex-direction: column;
  min-height: 1430vh;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 30em;
}
article #menu h2 {
  margin-top: 0px;
  font-size: 3em;
  font-family: cursive;
  color: black;
  background-color: rgb(126, 165, 113);
}
article #menu p {
  margin-top: -15px;
  color: white;
  font-size: 2em;
  color: black;
}
article #menu .ingredientes {
  font-size: 1.4em;
  color: rgb(27, 27, 27);
}
article #menu .precios {
  font-size: 1.4em;
  color: rgb(27, 27, 27);
  border-bottom: solid 5px rgb(126, 165, 113);
}

#footer__menu {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  margin-top: -24px;
}

/*Galeria*/
h2 {
  font-weight: 400;
  text-align: center;
  font-size: 4em;
  padding: 80px;
  font-size: 50px;
}

.linea {
  background-color: violet;
  height: 5px;
  width: 100%;
}

.gal {
  margin: 0;
  padding: 0;
}
.gal .galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
}
.gal .galeria > a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.gal .galeria img {
  width: 100%;
  vertical-align: top;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s;
}
.gal .galeria a:hover {
  filter: blur(2px);
  transform: rotate(10deg) scale(1.3);
  transition: transform 0.5s;
}

.caja {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}

.caja img {
  width: 75vw;
  max-height: 70vh;
}

.caja:target {
  transform: scale(1);
}

.close {
  display: block;
  position: absolute;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  top: 40px;
  right: 40px;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.next {
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .galeria {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .close {
    top: 200px;
    right: 10px;
  }
}
/*Nosotros*/
#nosotros h2 {
  text-align: center;
  font-weight: 100;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
#nosotros #imagen__nosotros {
  margin: 15px;
}
#nosotros .contenedor__letras__nosotros {
  margin: 30px;
  font-size: 1em;
}

/*contacto*/
aside .formulario {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  width: 100vw;
  height: 105vh;
  padding-bottom: 30px;
}
aside .formulario .form {
  width: 90vw;
  color: white;
  font-size: 1.2em;
  background-color: rgb(39, 39, 39);
  border-radius: 2 vw;
}
aside .formulario #comentario {
  color: white;
  font-size: 1.8em;
  font-family: fantasy;
  margin: 20px;
}
aside .formulario .form__contacto {
  border: none;
  border-bottom: solid white 3px;
  background-color: transparent;
  width: 70vw;
  height: 4vh;
  color: white;
  outline: none;
}
aside .formulario .form__contacto:focus {
  background: linear-gradient(to bottom, transparent, rgb(0, 0, 0));
  border-bottom: rgb(9, 243, 9) 3px solid;
  padding: 20px;
}
aside .formulario textarea {
  border: none;
  border-bottom: solid white 3px;
  background-color: transparent;
  width: 60vw;
  height: 8vh;
  outline: none;
  color: white;
}
aside .formulario textarea:focus {
  background: linear-gradient(to bottom, transparent, rgb(0, 0, 0));
  outline: none;
  border-bottom: rgb(9, 243, 9) 3px solid;
}
aside .formulario input[type=submit] {
  margin: 20px;
  height: 40px;
  width: 120px;
  background-color: rgb(205, 205, 205);
  border-radius: 5px;
}
aside .formulario form input[type=submit]:hover {
  background-color: rgb(159, 159, 159);
}
aside .formulario form input[type=submit]:active {
  background-color: rgb(89, 89, 89);
}

section p {
  font-size: 1.6em;
  text-align: center;
}
section .imagenes__siguenos {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 30px;
}

@media screen and (min-width: 800px) {
  aside .formulario {
    margin-top: 130px;
  }
}/*# sourceMappingURL=styles.css.map */