* {
  box-sizing: border-box;
}

body {
  font-family: serif;
  margin: 0;
  background-color: rgb(124, 124, 124);
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.25em;
}

ul {
  list-style: none;
}

.animate__animated {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

/*Partials*/
header {
  background-color: black;
}
header .conteiner {
  max-width: 1600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .logo {
  margin: 0;
  padding: 25px;
  font-weight: bold;
  color: white;
  font-size: 1.4em;
}
header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}
header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}
header a:hover {
  color: grey;
}

@media screen and (min-width: 800px) {
  header {
    position: fixed;
    bottom: calc(100vh - 87.6px);
    margin: 0;
    width: 100%;
    z-index: 100;
  }
  header .conteiner {
    flex-direction: row;
    justify-content: space-evenly;
  }
  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-left: 20px;
  }
  header .logo {
    font-size: 2em;
    margin-right: 80px;
  }
}
footer {
  width: 100%;
  height: 15vh;
  background-color: black;
  margin-top: 0;
}
footer .conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
footer #img__footer {
  display: flex;
  justify-content: center;
}
footer #footer__uno {
  margin-right: 20px;
}
footer #footer__dos {
  margin-left: 20px;
}

/*Inicio*/
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imagenes/fondos/restaurante.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 40em;
}
#hero h1 {
  color: rgb(207, 234, 239);
  font-family: cursive;
  margin-bottom: 40px;
}
#hero li {
  display: flex;
  align-items: baseline;
  font-size: 1.5em;
  color: rgb(219, 219, 219);
}
#hero #li {
  translate: 1px -30px;
}

#nuestras__promociones {
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
}
#nuestras__promociones h2 {
  text-align: center;
  color: white;
  margin-top: 10px;
  font-size: 3em;
}
#nuestras__promociones .carta__uno {
  background-color: rgb(79, 79, 79);
  color: white;
  margin: 60px;
  border-radius: 10px;
  box-shadow: black 0px 0px 20px 3px;
  padding-top: 5px;
  padding-bottom: 8px;
}
#nuestras__promociones .carta__dos {
  background-color: rgb(79, 79, 79);
  color: white;
  margin: 60px;
  border-radius: 10px;
  box-shadow: black 0px 0px 20px 3px;
  padding-top: 5px;
  padding-bottom: 8px;
}
#nuestras__promociones .carta__tres {
  background-color: rgb(79, 79, 79);
  color: white;
  margin: 60px;
  border-radius: 10px;
  box-shadow: black 0px 0px 20px 3px;
  padding-top: 5px;
  padding-bottom: 8px;
}

@media screen and (min-width: 800px) {
  #hero {
    font-size: 1.2em;
  }
}
/*Menu*/
.menu {
  margin-top: 2px;
  background-color: rgb(191, 203, 214);
}
.menu #menu {
  text-align: center;
  min-width: 100%;
  padding: 20px;
}
.menu .caja__menu {
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 0px 1px 30px 1px;
  margin-top: 20px;
  background-color: rgb(75, 151, 214);
}
.menu h2 {
  margin-top: 0px;
  font-size: 2.5em;
  font-weight: 100;
  font-family: cursive;
  color: black;
  background-color: rgb(153, 117, 204);
  border-radius: 10px;
}
.menu p {
  margin-top: -15px;
  font-size: 2em;
  color: black;
  padding: 2px;
}
.menu .ingredientes {
  font-size: 1.4em;
  color: rgb(27, 27, 27);
}
.menu .precios {
  font-size: 1.4em;
  color: rgb(27, 27, 27);
  border-bottom: solid 5px black;
}

@media screen and (min-width: 800px) {
  #menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }
  .caja__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
  }
}
/*Galeria*/
.article__galeria {
  margin-top: 100px;
}
.article__galeria h2 {
  width: 50%;
  color: white;
  border-bottom: 4px solid rgb(221, 222, 134);
  font-size: 2em;
  text-align: center;
  font-family: cursive;
  margin: auto;
  padding: 20px;
}
.article__galeria .galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 90%;
  margin: auto;
  grid-gap: 18px;
  padding: 40px 0;
  overflow: hidden;
}
.article__galeria img {
  width: 100%;
  vertical-align: top;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 1s;
}
.article__galeria a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px 0px black;
  border-radius: 4px;
}
.article__galeria .galeria a:hover img {
  filter: blur(2px);
  transform: scale(1.1);
}

.galeria2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transform: scale(0);
  transition: transform 1s;
}
.galeria2 img {
  width: 50vw;
  max-height: 50vh;
}
.galeria2 .close {
  display: block;
  position: absolute;
  top: 100px;
  right: 200px;
  color: black;
  text-decoration: none;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  z-index: 2000;
}
.galeria2 .nextR {
  display: block;
  background-color: white;
  margin-left: 5px;
  color: black;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 0 10px 10px 0;
  text-decoration: none;
  text-align: center;
}
.galeria2 .nextL {
  display: block;
  background-color: white;
  margin-right: 5px;
  color: black;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 10px 0 0 10px;
  text-decoration: none;
  text-align: center;
}

.galeria2:target {
  transform: scale(1.2);
}

@media screen and (max-width: 800px) {
  .article__galeria {
    margin-top: 5px;
  }
}
@media screen and (max-width: 780px) {
  .galeria2 .close {
    left: 550px;
    top: 130px;
  }
}
@media screen and (max-width: 700px) {
  .galeria2 .close {
    left: 500px;
    top: 160px;
  }
}
@media screen and (max-width: 620px) {
  .galeria2 .close {
    left: 440px;
    top: 160px;
  }
}
@media screen and (max-width: 550px) {
  .galeria2 .close {
    left: 380px;
    top: 180px;
  }
}
@media screen and (max-width: 480px) {
  .galeria2 .close {
    left: 320px;
    top: 200px;
  }
}
@media screen and (max-width: 420px) {
  .galeria2 .close {
    left: 280px;
    top: 220px;
  }
}
@media screen and (max-width: 380px) {
  .galeria2 .close {
    left: 240px;
    top: 220px;
  }
}
/*Nosotros*/
#nosotros h2 {
  font-size: 4em;
  margin-top: 30px;
  text-align: center;
}
#nosotros #imagen__nosotros {
  margin: 20px;
}
#nosotros .contenedor__letras__nosotros {
  margin: 30px;
  font-size: 1em;
}

@media screen and (min-width: 800px) {
  #nosotros h2 {
    margin-top: 100px;
  }
  #nosotros #imagen__nosotros {
    width: 50%;
    float: left;
  }
  #nosotros .contenedor__letras__nosotros {
    line-height: 1.4;
  }
}
/*contacto*/
aside .formulario {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 30px;
}
aside .formulario .form {
  width: 80vw;
  color: white;
  font-size: 1.2em;
  background-color: rgb(39, 39, 39);
  border-radius: 2 vw;
}
aside .formulario #comentario {
  color: white;
  font-size: 1.8em;
  font-family: fantasy;
  margin: 20px;
}
aside .formulario .form__contacto {
  border: none;
  border-bottom: solid white 3px;
  background-color: transparent;
  width: 70vw;
  height: 4vh;
  color: white;
  outline: none;
}
aside .formulario .form__contacto:focus {
  background: linear-gradient(to bottom, transparent, rgb(0, 0, 0));
  border-bottom: rgb(9, 243, 9) 3px solid;
  padding: 20px;
}
aside .formulario textarea {
  border: none;
  border-bottom: solid white 3px;
  background-color: transparent;
  width: 60vw;
  height: 8vh;
  outline: none;
  color: white;
}
aside .formulario textarea:focus {
  background: linear-gradient(to bottom, transparent, rgb(0, 0, 0));
  outline: none;
  border-bottom: rgb(9, 243, 9) 3px solid;
}
aside .formulario input[type=submit] {
  margin: 20px;
  height: 40px;
  width: 120px;
  background-color: rgb(205, 205, 205);
  border-radius: 5px;
}
aside .formulario form input[type=submit]:hover {
  background-color: rgb(159, 159, 159);
}
aside .formulario form input[type=submit]:active {
  background-color: rgb(89, 89, 89);
}

section {
  display: flex;
  flex-direction: column;
}
section p {
  font-size: 1.6em;
  text-align: center;
}
section img {
  width: 70px;
  height: 70px;
}
section a {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  text-decoration: none;
}
section .imagenes__siguenos {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 10px;
}

@media screen and (min-width: 800px) {
  aside .formulario {
    padding: 100px;
    width: 100vw;
  }
  aside .formulario .form {
    width: 60vw;
  }
  aside .formulario .form__contacto {
    width: 50vw;
  }
  aside .formulario textarea {
    width: 50vw;
  }
  section {
    display: flex;
    flex-direction: column;
  }
  section p {
    margin-top: -60px;
    font-size: 2.2em;
    text-align: center;
  }
  section img {
    width: 100px;
    height: 100px;
  }
  section .imagenes__siguenos {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
  }
}/*# sourceMappingURL=styles.css.map */