#hero{  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../imagenes/fondos/x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h1{
        color: white;
        font-family:sans-serif; 
    }
    li{
        display: flex;
        align-items: baseline;
        font-size: 1.5em;
        color: rgb(219, 219, 219);
    }
}

#nuestras__promociones{
    background-color: rgb(103, 100, 100);
    text-align: center;
    color: white;
    margin-top: -40px;
    height: 140vh;
    #nuestras__promociones .conteiner{
        padding:  20px 0px;
    }
    #nuestras__promociones h2{
        margin-top: 0;
        font-size: 3em;
    }
    .carta__uno{
        border: solid black 4px;
        background-color: rgb(181, 181, 181);
        margin: 10px;
        border-radius: 10px;
    }
    .carta__dos{
        border: solid black 4px;
        background-color: rgb(181, 181, 181);
        margin: 10px;
        border-radius: 10px;
    }
    .carta__tres{
        border: solid black 4px;
        background-color: rgb(181, 181, 181);
        margin: 10px;
        border-radius: 10px;
    }
}

@media screen and (min-width: 800px){
    #hero{
        font-size: 1.2em;
    }
}