#nosotros{
    h2{
        font-size: 4em;
        margin-top: 30px;
        text-align: center;
    }
    #imagen__nosotros{
        margin: 60px;
    }
    img{
        margin-top: -40px;
        width: 100%;
        height: 30%;
    }
    .contenedor__letras__nosotros{
        height: 70%;
        margin: 0 300px 100px 300px;
        line-height: 1.1;
        font-size: 1.2em;
    }
    p{
        margin-top: -60px;
    }
}

@media screen and (min-width:800px) {
    #nosotros{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        #imagen__nosotros{
            width: 30vw;
        }
        img{
            transition: transform 1.2s;
        }
        h2{
            margin-top: 100px;
        }
        .contenedor__letras__nosotros{
            margin-top: 100px;
        }
    }

    #imagen__nosotros :hover{
        transform: scale(1.5);
        transition: transform 1.2s;
    }
    
}