#nosotros{
    h2{
        text-align: center;
        font-weight: 100;
        text-decoration-line:underline;
    }
    #imagen__nosotros{
        margin: 15px;
    }
    .contenedor__letras__nosotros{
        margin: 30px;
        font-size: 1em;
    }
}